# Core data processing libraries
pandas>=1.3.0
numpy>=1.20.0

# Data visualization
matplotlib>=3.4.0
seaborn>=0.11.0

# Web scraping and API interaction
requests>=2.25.0
selenium>=4.1.0
webdriver-manager>=3.5.0  

# Archive extraction
patool>=1.12.0
py7zr>=0.16.0  

# Jupyter notebooks
jupyter>=1.0.0
ipykernel>=6.0.0

# Utility packages
tqdm>=4.62.0 
python-dateutil>=2.8.2  
pytz>=2021.1  

# File handling
openpyxl>=3.0.9  

dash
dash-bootstrap-components
plotly
gunicorn

# Cloudinary
cloudinary==1.43.0